@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-inter: "Inter", sans-serif;
  --font-family-rubik: "Rubik", serif;
  --background: 40deg 33% 91%;
  --dark: 45deg 6% 14%;
  --color-3: 7deg 82% 63%;
  --color-2: 33deg 88% 57%;
}

body {
  font-family: var(--font-family-rubik);
}
